@model IEnumerable<WebApplication2.Models.Wallet>
@{
    var walletValues = ViewData["WalletValues"] as Dictionary<string, float>;
}
        

@{
    ViewData["Title"] = "Portfele";
}

<h1>Portfele</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cryptos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.CashBalance zł
            </td>
            <td>
                @walletValues[(item.Id).ToString()] zł
            </td>
            <td>
                <a asp-action="AddCashBalance" asp-route-id="@item.Id">Dodaj Saldo Gotówkowe</a>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj Portfel</a>
                <a asp-action="Details" asp-route-id="@item.Id">Detale</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
