@model IEnumerable<WebApplication2.Models.Transaction>

@{
    ViewData["Title"] = "Transfery";
}

<h1 class="text-warning">Transfery</h1>

<p>
    <a class="text-warning" asp-action="Create"><h2 class="p-3">Nowy</h2></a>
</p>
<table class="text-warning table table-dark table-bordered border-warning">
    <thead>
        <tr>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.SenderWalletId)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.RecipientId)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.RecipientWalletId)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.CryptoId)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.CryptoQuantity)
            </th>
            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th class="col-md-2"></th>
        </tr>

    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @item.SenderWallet.Name
            </td>
            <td>
                    @item.Recipient.Email
            </td>
            <td>
                    @item.RecipientWallet.Name
            </td>
            <td>
                    @item.Crypto.Name
            </td>
            <td>
                    @item.CryptoQuantity
            </td>
            <td>
                    <textarea disabled class="form-control text-warning" style="resize:none;background:none;">@item.Message</textarea>
            </td>
            <td>
                    <a class="text-warning btn btn-sm border border-warning mx-2" asp-action="Details" asp-route-id="@item.Id">Detale</a>
                @{
                        if ((bool)ViewData["IsAdmin"])
                        {
                                    <a class="text-warning btn btn-sm border border-warning mx-2" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                        }
                }
            </td>
        </tr>
}
    </tbody>
</table>
